<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ycj.student.mapper.AccountLoginMapper">

    <select id="queryAccountByToken" resultType="com.ycj.student.dto.account.login.AccountLoginDTO">
        select t.*
        from edu_account_login t
        where t.token = #{token}
    </select>

</mapper>
