<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ycj.student.mapper.ClazzMapper">


    <select id="listAll" parameterType="com.ycj.student.dto.clazz.ClazzSearchDTO"
            resultType="com.ycj.student.dto.clazz.ClazzDTO">
        select t.*,
                CONCAT(t.department,'/',t.name) allName
        from edu_clazz t
        <where>
            t.delete_flag = 0
            <if test="keyword != null and keyword != ''">
                and (t.name like "%"#{keyword}"%" or t.department like "%"#{keyword}"%")
            </if>
            <if test="clazzIdList != null and clazzIdList.size > 0">
                and t.id in
                <foreach item="item" collection="clazzIdList" separator="," open="(" close=")" index="">
                    #{item}
                </foreach>
            </if>
        </where>
        order by t.id desc
    </select>

</mapper>
