<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ycj.student.mapper.StudentMapper">


    <select id="listStudents" parameterType="com.ycj.student.dto.student.StudentSearchDTO"
            resultType="com.ycj.student.dto.student.StudentDTO">
        select t.*,
               (select a.username from edu_account a where a.id = t.create_user_id) createUsername,
               (select a.username from edu_account a where a.id = t.delete_user_id) deleteUsername,
               c.name clazzName,
               c.department,
               s.user_no
        from edu_student t
        left join edu_clazz c on c.id = t.clazz_id
        left join edu_student_status s on s.identity_card_no = t.identity_card_no
        <where>
            <if test="deleteFlag != null">
                and t.delete_flag = #{deleteFlag}
            </if>
            <if test="studentId != null">
                and t.id = #{studentId}
            </if>
            <if test="keyword != null and keyword != ''">
                and (t.name like "%"#{keyword}"%" or t.mobile like "%"#{keyword}"%")
            </if>
            <if test="department != null and department != ''">
                and c.department = #{department}
            </if>
            <if test="clazzName != null and clazzName != ''">
                and c.name = #{clazzName}
            </if>
            <if test="displayUserNo != null and displayUserNo == 1">
                and s.user_no > ''
            </if>
            <if test="displayUserNo != null and displayUserNo == 0">
                and (s.user_no = '' or s.user_no is null)
            </if>
            <if test="clazzIdList != null and clazzIdList.size > 0">
                and c.id in
                <foreach item="item" collection="clazzIdList" separator="," open="(" close=")" index="">
                    #{item}
                </foreach>
            </if>
        </where>
        order by t.id desc
    </select>

    <select id="countStudentByIdCartNo" resultType="java.lang.Integer">
        select count(1) from edu_student t where t.identity_card_no = #{identityCardNo}
        <if test="id != null">
            and t.id != #{id}
        </if>
    </select>

</mapper>
